body {
    background-color: #ff9966;
}

.box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: linear-gradient(to bottom, #ff9966 0%, #ff99cc 100%);
}
.box2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: linear-gradient(to bottom, #ff99cc 0%, #ff9966 100%);
}

.playerTurnBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
#turnNum {
    font-size: 42px;
    font-family: 'Abril Fatface', cursive;
    color: #FFFFFF;
}

.startGameBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 1.5%;
}
#startBtn {
    font-size: 16px;
    font-family: 'Abril Fatface', cursive;
    color: #FFFFFF;
    background-color: #ff99cc;
    border-width: .25em;
}

.powerBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
#onBtn {
    font-size: 16px;
    font-family: 'Abril Fatface', cursive;
    color: #FFFFFF;
    background-color: #ff99cc;
    border-width: .25em;
    margin-right: .5em;
}
#offBtn {
    font-size: 16px;
    font-family: 'Abril Fatface', cursive;
    color: #FFFFFF;
    background-color: #ff99cc;
    border-width: .25em;
    margin-left: .5em;
}

.circ {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    /* pointer-events: none; */
  }
.circ:before {
    content: '';
    display: inline-block;
    padding-top: 100%;
}
.circ:active {
    opacity: .5;
}
.activated {
    opacity: .5;
    border: 2px solid black;
}
#c0 {
    background: #C04CFD;
    margin: 2.5%;
}
#c1 {
    background: #FFFD98;
    margin: 2.5%;
}
#c2 {
    background: #23f0ff;
    margin: 2.5%;
}
#c3 {
    background: rgb(71, 233, 82);
    margin: 2.5%;
}