@viewport {
	width: 600px;
	zoom: 1.0;
}

@media only screen and (max-width: 600px) {
	box1, box2 {
		max-width: 600px;
	}
}

html, body, * {
	box-sizing: border-box;
}

body {
	background-color: #DBF9F4;
	margin: 0;
}

h1 {
	display: flex;
	justify-content: center;
	text-align: center;
}

h1, h2 {
	font-size: 46px;
	font-family: 'Ubuntu', sans-serif;
	color: #FFFFFF;
	text-shadow: 3px 3px #333;
	display: flex;
	justify-content: center;
	text-align: center;
}

.box {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: -2.5%;
}

.box2 {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.player-turn-box {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	margin-top: -2.5%;
}

.btn-box {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
}

#start-btn, #replay-btn {
	font-size: 28px;
	font-family: 'Ubuntu', sans-serif;
	color: #FFFFFF;
	text-shadow: 3px 3px #333;
	box-shadow: 3px 3px #333;
	background-color: #BBACC1;
	margin: 0 20px;
	padding: 10px 20px;
}

.circ {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	box-shadow: 3px 3px #333;
}

.circ:before {
	content: '';
	display: inline-block;
	padding-top: 100%;
}

.circ:active {
	opacity: .5;
}

.circ.activated {
	opacity: .5;
	border: 8px solid #ffffff;
}

#c0 {
	background: #92AFD7;
	margin: 2%;
}

#c1 {
	background: #FFAC81;
	margin: 2%;
}

#c2 {
	background: #395B50;
	margin: 2%;
}

#c3 {
	background: #EBD494;
	margin: 2%;
}

.circ.avoid-clicks {
	pointer-events: none;
}

@media screen and (max-width: 500px) {
	.circ {
		width: 150px;
		height: 150px;
	}
}

@media screen and (max-width: 320px) {
	.circ {
		width: 100px;
		height: 100px;
	}
	#turn-num {
		font-size: 30px;
	}
}